@import url(https://fonts.googleapis.com/css?family=Poiret+One|Indie+Flower|Shadows+Into+Light|Josefin+Sans:400,600,600italic,700,400italic|Architects+Daughter|Kaushan+Script|Rock+Salt|Shadows+Into+Light+Two);

/*

font-family: 'Poiret One', cursive;

font-family: 'Indie Flower', cursive;

font-family: 'Shadows Into Light', cursive;

font-family: 'Josefin Sans', sans-serif;

font-family: 'Architects Daughter', cursive;

font-family: 'Kaushan Script', cursive;

font-family: 'Rock Salt', cursive;

font-family: 'Shadows Into Light Two', cursive;

/* =============================================================================
 The Body
============================================================================= */
/**/

html, body {
    font-family: 'Poiret One', cursive;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
}

.all_content {
    width: 100%;
    min-height: 100%;
    height: 100%;
}

ol, ul {
  list-style: none;
}

h3 {
    font-size: 2.2rem;
}

h3 span {
    font-size: 1.9rem;
}

p {
    font-size: 1.2rem;
}

/**----- Aligning Divs ---------**/
.center-h {
    left: 50%;
    transform: translate(-50%, 0%);
     position: absolute;
}

.center-v {
    top: 50%;
    transform: translate(0%, -50%);
     position: absolute;
}

.center-c {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/*____________________________________________________________
-------------------------------------------------------------- */
/*------- NAV-BAR ----------*/
.nav-top {
    width: 100%;
    height: 61px;
    background-color: black;
    z-index: 1000;
    top: 0;
    position: fixed;

    -webkit-filter: opacity (0.2);
    filter: opacity (0.2);
}

.nav-top a {
    color: #fff;
    font-size: 1.9rem;
}

/*--- logo - left ---*/

#nav-logo, .s2 {
    text-align: center;
}

#nav-logo a {
   margin-top: 23px;
}


/*--- menu - center ---*/
#nav-menu {
    width: 100%;
    height: 100%;
}

#nav-menu div {
    background-color: black;
    height: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 23px;
}

#nav-menu #home { width: 100px; }

/*
#nav-menu #about { width: 60px }

#nav-menu #portfolio { width: 90px; }

#nav-menu #contact { width: 70px; }
*/

#nav-menu.active {
    background-color: #588c7e;
    color: #000;
    font-weight: bold;
}


/*____________________________________________________________ BODY */

.container {
    height: 100%;
    margin: 0;
}


/*----------------- Slider --------------*/

#home-content {
    width: 700px;
    height: 420px;
    position: relative;
    margin-top: 100px;
}

#home-content .s6 {
    height: 100%;
    background-color: #000;
    position: relative;
}

#photos {height: 100%;}


#photos img {height: 100%;}


#description {height: 100%;}

/*_______________________________________________
/*----------------- CONTACTS --------------*/

#contacts-page {
    background-color: white;
    height: 250px;
    width: 600px;
    margin-bottom: 10px;
    position: relative;
}

#talk-to-me {
    width: 100%;
    left: 10px;
    position: relative;
    text-align: center;
    color: black;
    font-size: .8rem;
}

form {
    width: 100%;
    position: relative;
/*    border: thin solid #8c4646;*/
    color: black;
}

#form-names, #form-email, #form-submit {
    height: 20px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.s3 {
    height: 100%;}

#form-submit {
    text-align: center;

}

/*____________________________________________________________*/
/*---Footer ---*/
#footer {
    bottom: 0;
    margin-bottom: 0;
    z-index: 1000;
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: black;
    font-size: .9rem;
    color: white;
    text-align: center;

}
